* {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    margin: 0;
}

/*---begin header---*/
header {
    margin: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    
}

.search input {
    height: 31px;
    padding-left: 5px;
    outline: none;
}

.search button {
    background-color: #006172;
    color: #fff;
    border: none;
    height:31px;
    cursor: pointer;
}

.search button:hover {
    background-color: #09859a;
}

.login a {
    color: #8d8178;
    text-decoration: none;
    font-weight: bold;
}

.cart {
    background-color: #006172;
    width: 110px;
    padding: 5px;
    border-radius: 3px;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.cart img {
    width: 30px;
} 


/*---end header---*/


/*---begin nav---*/
nav {
    background-color: #006172;
    color: #fff;
}

nav ul {
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: space-around;
}

nav li:hover {
    background-color: #09859a;
}

nav a {
    display: block;
    padding: 10px 15px;
    color: #fff;
    text-decoration: none;
}
/*---end nav---*/

/*---begin footer---*/

footer {
    background-color: #ececec;
    border-top: 10px solid #006172;
    padding: 20px 20px 50px;
    color: #8d8178;
}

footer .info {
    display: flex;
    justify-content: space-around;
}

footer ul {
    list-style: none;
    padding: 0;
}

.title {
    color: #006172;
    font-weight: bold;
    margin-bottom:10px
}

/*---end footer---*/